
h1 {
  color:white;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.ui {
  background-color: white;
  width: 600px;
}

.pl {
  color: red;
}


.uicontainer {
  display: flex;
  justify-content: center;
}